.header-container{
    width: 100%;
    height: 50px;
    background: rgb(255,255,255);
    border-bottom: var(--dash-items-border);
}

.header-content{
    max-width: 1600px;
    height: 100%;
    padding: 0px 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-bottom: 2.5px;
}

#logo-text{
    font-size: 2em;
    font-style: italic;
    color: black;
}